@media (min-width: 992px) and (max-width: 1200px){
    section#contact {
        width: 100%;
        padding: 0 64px;
        margin-bottom: 8px;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    section#contact > section.feedback {
        width: 49%;
        height: 420px;
        box-shadow: 0 6px 24px rgba(0, 0, 0, 16%);
        padding-top: 24px;
        margin-bottom: 32px;
    }

    section#contact > section.feedback > i {
        display: block;
        text-align: center;
        font-size: 2.25rem;
        color: #032B43;
    }

    section#contact > section.feedback > form {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        padding: 16px;
    }

    section#contact > section.feedback > form > label {
        width: 100%;
        font-family: "SF Bold","Helvetica Bold", sans-serif;
        font-weight: bold;
        font-size: 1rem;
    }

    section#contact > section.feedback > form > label > input, section#contact > section.feedback > form > label > textarea {
        margin-top: 8px;
        margin-bottom: 16px;
        width: 100%;
        display: block;
        border: 1px solid #136F63;
        outline: none;
    }

    section#contact > section.feedback > form > label > input {
        height: 32px;
        transition: all 300ms linear;
    }

    section#contact > section.feedback > form > label > input:focus, section#contact > section.feedback > form > label > textarea:focus {
        border: 1px solid #105d53;
    }

    section#contact > section.feedback > form > label > textarea {
        height: 104px;
        resize: none;
        transition: all 300ms linear;
    }

    section#contact > section.feedback > form > label > input[type=submit] {
        border: none;
        background-color: #FFBA08;
        color: black;
        font-size: 0.75rem;
        font-family: "Helvetica Bold", sans-serif;
        font-weight: bold;
        transition: all 300ms linear;
    }

    section#contact > section.feedback > form > label > input[type=submit]:hover {
        background-color: #032B43;
        color: #FFBA08;
    }

    section#contact > section.info {
        width: 49%;
        height: 420px;
        background-color: #032B43;
        padding: 16px;
        box-shadow: 0 6px 24px rgba(3, 43, 67, 0.24);
    }

    section#contact > section.info > div:nth-of-type(1) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 8px;
    }

    section#contact > section.info > div:nth-of-type(1) > i {
        color: #FFBA08;
        font-size: 2.25rem;
        margin-right: 8px;
        display: none;
    }

    section#contact > section.info > div:nth-of-type(1) > h3 {
        color: #FFBA08;
        font-size: 1.75rem;
        font-family: "SF Bold","Helvetica Bold", sans-serif;
        font-weight: bold;
        margin-bottom: 16px;
    }

    section#contact > section.info > div:nth-of-type(2) {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
    }

    section#contact > section.info > div:nth-of-type(2) > a {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        color: whitesmoke;
        text-decoration: none;
        font-size: 1.25rem;
        font-family: "SF Regular",Helvetica, sans-serif;
        margin-bottom: 8px;
    }

    section#contact > section.info > div:nth-of-type(2) > a > i {
        margin-right: 8px;
    }

    section#contact > section.info > div:nth-of-type(3) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
    }

    section#contact > section.info > div:nth-of-type(3) > a {
        color: white;
        font-size: 2rem;
        margin-left: 8px;
        transition: all 300ms linear;
    }

    section#contact > section.info > div:nth-of-type(3) > a:hover {
        color: #FFBA08;
    }
}