@media (min-width: 768px) and (max-width: 992px) {
    section.menu {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 10;
        transition: all 300ms linear;
    }

    section.menu > nav {
        width: 50%;
        height: 100%;
        background: white;
        box-shadow: 0 6px 24px rgba(0, 0, 0, 16%);
        position: relative;
        z-index: 999999;
        padding-top: 48px;
    }

    section.menu > nav > i {
        position: absolute;
        top: 16px;
        right: 16px;
        font-size: 1.2rem;
        color: #D00000;
        cursor: pointer;
    }

    section.menu > nav > ul {
        width: 100%;
        height: 100%;
        background: white;
    }

    section.menu > nav > ul > li {
        font-family: "SF Regular",Helvetica,sans-serif;
        list-style-type: none;
        padding: 16px 0 16px 24px;
        border-bottom: 2px solid #ADB5BD;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
    }
    section.menu > nav > ul > li>i{
        color: #495057;
        font-size: 1.25rem;
        margin-right: 8px;
    }
    section.menu > nav > ul > li > a {
        font-family: "SF Regular",Helvetica,sans-serif;
        text-decoration: none;
        color: #495057;
        font-size: 1.1rem;
        transition: all 300ms linear;
    }

    section.menu > nav > ul > li:hover > a {
        color: #212529;
    }
    div.backMenu{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
    }
}