@media (max-width: 576px) {
    section#about {
        width: 100%;
        background-color: #3F88C5;
        display: flex;
        flex-flow: row nowrap;
        padding: 16px 8px;
        justify-content: center;
        margin-bottom: 24px;
    }

    section#about > div {
        width: 50%;
    }

    section#about > div:nth-of-type(1) > h3 {
        color: whitesmoke;
        font-size: 1.5rem;
        font-family: "SF Bold","Helvetica Bold", sans-serif;
        font-weight: bold;
        margin-bottom: 24px;
    }

    section#about > div:nth-of-type(1) > p {
        color: whitesmoke;
        font-size: 0.75rem;
        font-family: "SF Regular",Helvetica, sans-serif;
    }

    section#about > div:nth-of-type(2) > img {
        width: 100%;
        height: 100%;
    }
}